<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="logo.png">
    <title>KSP</title>
    
	
	<link href="owl.carousel.min.css" rel="stylesheet" />
    <link href="owl.theme.default.min.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min-RES.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="helper.css" rel="stylesheet">
    <link href="style-RES.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="header-fix fix-sidebar">
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">


                <!-- Logo -->
                <div class="navbar-header">
                    <a href="http://localhost/www/wordpress-5.6.2/wordpress/" class="menuzord-brand"><img src="logo.png" width="75px" height="75px" />

</a>
                </div>
                <!-- End Logo -->


                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link toggle-nav hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggle hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebar-menu">
                        <li class="nav-devider"></li>
                        <br>
                        <li class="nav-label"><a href="/">HOME</a></li>
                        <li class="nav-label"><a href="/">PREDICT THE FUTURE</a></li>
                        <li class="nav-label"><a href="#dashboard">DASHBOARD</a></li>
                        <li class="nav-label"><a href="#footer">CONTACT US</a></li>
                        
                        
                        
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">TODAY'S  STOCK DATA</h3> </div>
                <div class="col-md-7 align-self-center">
                    
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-2">
                        <div class="card bg-primary p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-bag f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white text-white"> </h2>
                                    <p class="m-b-0 text-white">OPEN</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2">
                        <div class="card bg-warning p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-comment f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white text-white">  </h2>
                                    <p class="m-b-0 text-white">HIGH</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card bg-success p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-vector f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white text-white">  </h2>
                                    <p class="m-b-0 text-white">LOW</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card bg-danger p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-location-pin f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white text-white">  </h2>
                                    <p class="m-b-0 text-white">CLOSE</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card bg-warning p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-comment f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white text-white">  </h2>
                                    <p class="m-b-0 text-white">ADJ CLOSE</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-2">
                        <div class="card bg-primary p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-bag f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white text-white"> </h2>
                                    <p class="m-b-0 text-white">VOLUME</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="dashboard">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title">
                                <a href="/nlp"><h4>RECENT ARTICLES OF <%= sym %> IN  STOCK MARKET</h4></a>
                            </div>
                            <div class="sales-chart">
								<table>
									<thead>
									  <tr>
										<th>Ticker</th>
										<th>Article Title</th>
										<th>Published Date</th>
										<th>Relevance Score</th>
										<th>Overall Sentiment Score</th>
										<!-- Add more columns here as needed -->
									  </tr>
									</thead>
									<tbody>
									  <% data.forEach((row) => { %>
										<tr>
										  <td><%= row.ticker %></td>
										  <td><%= row.title %></td>
										  <td><%= row.time_published %></td>
										  <td><%= row.relevance_score %></td>
										  <td><%= row.overall_sentiment_score %></td>
										  <!-- Add more columns here as needed, using the correct column names from your CSV file -->
										</tr>
									  <% }); %>
									</tbody>
								</table>
                                <style>
                                    table {
                                      border-collapse: collapse;
                                      width: 100%;
                                      margin-bottom: 20px;
                                    }
                              
                                    th, td {
                                      border: 1px solid black;
                                      padding: 8px;
                                      text-align: left;
                                    }
                              
                                    th {
                                      background-color: #ccc;
                                    }
                                  </style>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                    
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title">
                                <a href="/nlp"><h4><%= sym %> SETNIMENT ANALYSIS</h4></a>
                            </div>
                            <div class="sales-chart">
                                <img src="/nlp/<%= sym %>.png" frameborder="2px"width="500px" height="400px">
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title">
                                <a href="/lstm"><h4><%= sym %> LSTM MODEL GRAPH</h4></a>
                            </div>
                            <div class="team-chart">
                                <img src="/lstm/<%= sym %>.png" frameborder="2px"width="550px" height="400px">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title">
                                <a href="/cv"><h4><%= sym %> TODAYS CV GRAPH</h4></a>
                            </div>
                            <div class="team-chart">
                                <iframe src="/cv/<%= sym %>/19.html" frameborder="0" width="500px" height="400px"></iframe>
                            </div>
                        </div>
                    </div>
             
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <div class="footer-section-area padding-top-bottom" id="footer">
  <div class="container" style="background-color: #1f2b31;">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><img  src="logo.png"</a>
        <p style="color:white;">KSP was started with a noble goal of serving the finance community as they get involved in transitions. All our team members chime in their unique expertise and experience of stock market which they would like to use to guide future investors.</p>
        
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div>
          <h3 style="color:white;padding-top: 20px;padding-left: 0px;">Contact Us</h3>
        </div>
        <div style="padding-top: 25px;">
         <ul style="color:white;">
          <li>
Vandalur – Kelambakkam Road
Chennai – 600 127</li>          </ul>


         
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div>
          <h3 style="color:white;padding-top: 25px;padding-left: 0px;">Quick Links</h3>
        </div>
        <div class="information">
          <ul>
            <li><a style="color:white;padding-top: 10px;" href="http://localhost/www/wordpress-5.6.2/wordpress/"> <i class="fa fa-arrow-right"></i> HOME</a></li>
            <li><a style="color:white;" href="http://localhost/www/wordpress-5.6.2/wordpress/dashboard"> <i class="fa fa-arrow-right"></i> DASHBOARD</a></li>
            <li><a style="color:white;" href="http://localhost/www/wordpress-5.6.2/wordpress/know-more/"> <i class="fa fa-arrow-right"></i> ABOUT</a></li>
            <!-- <li><a style="color:white;" href="http://localhost/www/wordpress-5.6.2/wordpress/currency-converter/"> <i class="fa fa-arrow-right"></i> CURRENCY CONVERTER</a></li> -->
            <li><a style="color:white;" href="http://localhost/www/wordpress-5.6.2/wordpress/home-2/#contact"> <i class="fa fa-arrow-right"></i> CONTACT US</a></li>

          </ul>
        </div>
      </div>
     
  </div>
</div>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="jquery-RES.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="popper.min.js"></script>
    <script src="bootstrap-RES.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="sticky-kit.min.js"></script>
	
	
    <script src="d3.min.js"></script>
    <script src="topojson.js"></script>
    <script src="datamaps.world.min.js"></script>
    <script src="datamap-init.js"></script>

    <script src="jquery.simpleWeather.min.js"></script>
    <script src="weather-init.js"></script>
    <script src="owl.carousel.min.js"></script>
    <script src="owl.carousel-init.js"></script>

    <!-- Echart -->
    <script src="charts.js"></script>
    <script src="dashboard1-init.js"></script>
    <!--Custom JavaScript -->
    <script src="custom.min.js"></script>

</body>

</html>